/**
 * The challenge is creating a very customized looking admin theme without
 * affecting the display of contributed modules such as views, panels,
 * features, etc. There are a few ways I'm thinking we could handle:
 *
 * 1. Accept the fact that our theme must be bland in order to not conflict
 *    with other modules styles.
 * 2. Provide css rules for contributed modules (very hard, which ones to
 *    support, etc.)
 * 3. A mixture of the previous suggestions. Don't go crazy and fix css rules
 *    for popular modules.
 */
@import "reset.css";

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
a {
	color: #428bca;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500;
}

body {
	font-size: 87.5%;
    background: #eee;
}

/* border-box breaks admin toolbar */
#admin-toolbar * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

#branding {
	background: #fff;
    height: 100px;
	position: relative;
    padding: 0 1em;
}

#secondary-menu {
    float: right;
    padding: 1em;
    font-size: 0.929em;
}

.breadcrumb {
	padding: 1em;
	color: #ccc;
	font-size: 0.929em;
}

.page-title {
	margin: .25em .5em 1em;
}

.add-or-remove-shortcuts {
	position: absolute;
	top: 1em;
	right: 1em;
}

#page {
	padding: 2em;
}

/* White box sections */
#help,
.system-themes-list,
fieldset,
.form-item {
    padding: 1em;
    background-color: #fff;
    margin-bottom: 1em;
    border: 0;
}
#help,
.system-themes-list,
fieldset,
.form-item,
table {
    border-bottom: 2px solid #ddd;
}
fieldset fieldset,
fieldset .form-item,
.form-item .form-item,
table .form-item {
    padding: 0;
    margin: 0;
    border: 0;
}
fieldset fieldset {
    padding-top: 3em;
}
fieldset fieldset .fieldset-legend {
    left: 0;
}
fieldset .form-item,
.form-item .form-item {
    margin-bottom: 1em;
}
fieldset table {
    border-bottom: 0;
}

#help {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border-bottom: 2px solid #faebcc;
}

/* Style Primary and Secondary Tabs */

ul.primary,
ul.secondary,
ul.action-links,
#page ul.links {
	background: none;
	border: 0;
	overflow: visible;
	margin: 0;
}
ul.primary {
	position: absolute;
	bottom: 0;
	right: 2em;
	z-index: 2;
}
ul.primary li {
	float: left;
}
ul.primary,
ul.primary li a.active {
	text-shadow: none;
}
ul.primary li a.active {
	border-color: #eee;
	border-bottom: none;
    color: #515c62;
}
ul.primary li a {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	display: block;
	border: 0;
	background-color: #3d464b;
    color: #eee;
	padding: 0.714em 1.071em;
}
ul.primary li:last-child a {
    margin-right: 0;
}
ul.primary li a:hover {
    background-color: #515c62;
}
ul.primary li a:active,
ul.primary li a.active {
	background-color: #eee;
    color: #3d464b;
}

ul.secondary,
ul.action-links,
#page ul.links {
	padding: 0;
    margin-bottom: 1em;
}
#page ul.secondary li,
#page ul.action-links li,
#page ul.links li {
	border: 0;
    margin: 0;
	padding: 0;
    list-style: none;
    float: left;
}
#page ul.secondary li a,
#page ul.action-links li a,
#page ul.links li a {
	display: block;
	padding: 0.714em 1.071em;
	margin-right: 1px;
    color: #fff;
    background-color: #ec44af;
    border: 0;
}
ul.secondary li:first-child a,
ul.action-links li:first-child a,
#page ul.links li:first-child a {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
ul.secondary li:last-child a,
ul.action-links li:last-child a,
#page ul.links li:last-child a {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#page ul.secondary li.active a,
#page ul.secondary li a.active,
#page ul.action-links li a.active,
#page ul.secondary li.active a:hover,
#page ul.secondary li a.active:hover,
#page ul.action-links li a.active:hover,
#page ul.links li.active,
#page ul.links li.active:hover {
    background-color: #d43d9d;
}
#page ul.secondary li a:hover,
#page ul.action-links li a:hover,
#page ul.links li a:hover {
    color: #ffffff;
    background-color: #ff4abd;
}

#page ul.links li a {
    background-color: #ccc;
}
#page ul.links li a.active,
#page ul.links li a.active:hover {
    background-color: #bbb;
}
#page ul.links li a:hover {
    background-color: #ddd;
}

#page table ul.links li a {
    padding: 0.25em 0.75em;
}

/* Add clearfix */
#page ul.links:before,
#page ul.links:after {
    content: " ";
    display: table;
}
#page ul.links:after {
    clear: both;
}
#page ul.links {
    *zoom: 1;
}

/* Vertical Tabs */
.vertical-tabs {
	font-size: 0.929em;
    background: #fff;
}
.vertical-tabs ul.vertical-tabs-list li {
	background: #fff;
}
div.vertical-tabs,
.vertical-tabs ul.vertical-tabs-list,
.vertical-tabs ul.vertical-tabs-list li {
    border-color: #ddd;
}
.vertical-tabs .form-item {
    margin: 1em 0;
}

/* Pagination */

.item-list .pager {
	/* Poor browser support to center the pagination */
	margin: 0 auto 1em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}
.item-list .pager li {
	padding: 0;
	margin: 0;
	float: left;
}
.pager li a,
.pager li.pager-current {
	display: block;
    background: #fff;
	padding: 0.714em 1.071em;
	border: 1px solid #ddd;
	margin-left: -1px;
}
.pager li:first-child a,
.pager li.pager-current:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.pager li:last-child a,
.pager li.pager-current:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.pager li.pager-current {
    color: #ffffff;
    background-color: #428bca;
    border: 1px solid #357ebd;
    font-weight: normal;
}
.pager li a:hover {
    background-color: #e6e6e6;
}

/* Messages */
div.messages {
	background-image: none;
	padding: 1em;
    margin-bottom: 1em;
    border: 0;
}

div.warning,
table tr.warning {
	background-color: #fcf8e3;
}
div.warning,
.warning {
	color: #8a6d3b;
}
div.warning {
	border-bottom: 2px solid #faebcc;
}

div.error,
table tr.error {
	background-color: #f2dede;
}
div.error,
.error {
	color: #a94442;
}
div.error {
	border-bottom: 2px solid #ebccd1;
}

div.status {
    background: #ebfff5;
    border-bottom: 2px solid #defdee;
    color: #333;
}
table tr.status,
table tr.ok,
.update tr.ok {
    background: #ebfff5;
    color: #333;
}

/* Forms */
fieldset {
    padding: 3em 1em 1em;
    margin: 0 0 1em;
    min-width: 0;
    position: relative;
}
.fieldset-legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: inherit;
    color: #333333;
    border: 0;
    position: absolute;
    top: 1em;
    left: 1em;
}
.fieldset-description {
    margin-bottom: 1em;
}

/* Inputs */
.form-text,
.form-textarea,
.form-select {
    padding: .5em 1em;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-text:focus,
.form-textarea:focus,
.form-select:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-text.error:focus,
.form-textarea.error:focus,
.form-select.error:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.form-item label {
	margin-bottom: 5px;
}

.form-item .description {
	margin-top: 2px;
	color: #737373;
}

html.js input.form-autocomplete {
	/* @todo need a new image for this */
	background-position: 100% 11px;
}

.filter-guidelines-item {
	color: #737373;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
	border: 1px solid #ebccd1;
}

/* Buttons */
input[type="submit"],
input[type="button"],
button {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 5px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus {
  color: #fff;
  text-decoration: none;
}
input[disabled],
button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Default style */
input[type="submit"],
input[type="button"],
button {
    color: #ffffff;
    background-color: #428bca;
}
input[disabled],
button[disabled] {
    background-color: #ffffff;
    border-color: #cccccc;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus,
input[type="submit"]:active,
input[type="button"]:active,
button:active,
input[type="submit"].active,
input[type="button"].active,
button.active {
    background-color: #4b9ce3;
}

/* Submit Buttons */
#edit-actions .form-submit:first-child {
    color: #ffffff;
    background-color: #428bca;
}
#edit-actions .form-submit:first-child[disabled] {
    background-color: #428bca;
}
#edit-actions .form-submit:first-child:hover,
#edit-actions .form-submit:first-child:focus,
#edit-actions .form-submit:first-child:active,
#edit-actions .form-submit:first-child.active {
  color: #ffffff;
  background-color: #4b9ce3;
}

/* Tables */
table {
    background-color: transparent;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
th {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td,
table.update tr > td {
    padding: 1em;
    line-height: 1.42857143;
    vertical-align: top;
    border: 0;
}
table > thead > tr > th {
    vertical-align: bottom;
    border: 0;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
tbody {
    border: 0;
}
table > tbody + tbody {
    border-top: 2px solid #dddddd;
}
table table {
  background-color: #ffffff;
}
tbody tr,
tr.even,
tr.odd {
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}
.update tr.even,
.update tr.odd {
    border-bottom: 1px solid #ddd;
}
tr:last-child {
    border: 0;
}
tr.draggable {
    /* border-box makes handle really small */
    box-sizing: content-box;
}
/* Remove margin added on table rows */
table td ul:last-child,
table td p:last-child {
    margin-bottom: 0;
}

/* Definition List */

dl {
    margin-top: 0;
    margin-bottom: 1em;
}
dt,
dd {
    line-height: 1.42857143;
    background: #fff;
}
dt {
    font-weight: bold;
    padding: 1em 1em 0;
}
dd {
    padding: 0 1em 1em;
    margin-left: 0;
    margin-bottom: 1em;
    border-bottom: 2px solid #ddd;
}

/* Force clearfix on items instead of modifying templates */
.pager:before,
.pager:after {
  content: " ";
  display: table;
}
.pager:after {
  clear: both;
}

/* Views */
.views-exposed-form,
.views-displays,
#views-preview-wrapper,
#views-filterable-options-controls {
    padding: 1em;
    background-color: #fff;
    margin-bottom: 1em;
    border: 0;
}
.views-exposed-form,
.views-displays,
#views-preview-wrapper,
#views-filterable-options-controls {
    border-bottom: 2px solid #ddd;
}
.views-exposed-form .form-item,
#views-preview-wrapper .form-item,
#views-preview-wrapper .views-exposed-form,
.views-ui-dialog .views-override .form-item,
#views-filterable-options-controls .form-item {
    padding: 0;
    margin: 0;
    border: 0;
}
#views-display-top {
    background: #fff;
    border-bottom: 2px solid #ddd;
}
#views-preview-wrapper .form-item-live-preview {
    margin-right: 3em;
}
#views-ui-preview-form .form-type-textfield label {
    padding-top: 0.45em;
}
#views-preview-wrapper .views-exposed-form {
    padding: 1em;
}

.views-displays .secondary .action-list {
    top: 2.5em;
    width: 150px;
    border: 1px solid #ddd;
}
#content .views-displays .secondary .action-list li {
    float: none;
    background: #fff;
    border-bottom: 1px solid #ddd;
}
.views-displays .secondary .action-list input.form-submit {
    color: #428bca;
    display: block;
    padding: 0.5em 1em;
    width: 100%;
    text-align: left;
    border-radius: 0;
}
.views-displays .secondary .action-list input.form-submit:hover {
    background: #e7e7e7;
}
.views-ui-display-tab-actions .ctools-button-processed li a,
.views-ui-display-tab-actions .ctools-button-processed input {
    color: #428bca;
}
.views-admin ul.secondary li a > .icon.add,
.views-displays .secondary .open a:hover > .icon.add {
    background-position: center -25px;
}

/* Views Popups */
#views-ajax-body {
    background: #eee;
}
.ui-widget-content {
    color: #333;
}
.ui-corner-all {
    border-radius: 0;
}
.ui-widget-header {
    border: 0;
    background: #fff;
    box-shadow: none;
}
.views-ui-dialog .ui-dialog-titlebar-close {
    border: 0;
    background-color: #fff;
    right: 1em;
    top: 1em;
    box-shadow: none;
    border-radius: 0;
}
.views-ui-dialog #views-ajax-title,
.views-ui-dialog .views-override,
.views-ui-dialog .form-buttons {
    background: #fff;
}

.views-filterable-options {
    border: 0;
    border-bottom: 1px solid #ddd;
}
.views-filterable-options .form-type-checkbox {
    border: 0;
    border-bottom: 1px solid #ddd;
    padding: 1em;
}
.views-filterable-options .even .form-type-checkbox {
    background: #fff;
}

/* found in views, could appear elsewhere? */
.form-item-description-enable + .form-item-description,
.dependent-options {
    margin: -1em 0 0.857em;
    padding-top: 0;
    position: relative;
    top: -2px;
    left: 0;
}

.dependent-options + .dependent-options {
    top: -4px;
}

/* Panels */
div.ctools-modal-content {
    background: #eee;
    border: 2px solid #ddd;
}
div.ctools-modal-content .modal-header {
    background: #fff;
}
.panels-dashboard .dashboard-block,
.ctools-auto-submit-full-form,
.option-text-aligner {
    padding: 1em;
    background-color: #fff;
    margin-bottom: 1em;
    border: 0;
    border-bottom: 2px solid #ddd;
}
#page .ctools-auto-submit-full-form .form-item,
.option-text-aligner .form-item {
    padding: 0;
    margin: 0;
    border: 0;
}
#page .ctools-auto-submit-full-form .form-item,
.option-text-aligner .form-item {
    margin: 0 1em 1em 0;
}

.ctools-auto-submit-full-form {
    width: 100%;
    float: left;
}

.panels-dashboard .dashboard-entry {
    margin-bottom: 1em;
}

.option-text-aligner + .description {
    margin-top: 2px;
    color: #737373;
}

/* Various Cleanup */
.text-format-wrapper .form-type-textarea {
    /* remove border below textarea as they will have a text format fieldset that provides the bottom border */
    border-bottom: 0;
}